@LayoutPage Templates/IndexTemplate.html

<h1 class="text-center">Customers list</h1>
<br/>
<!--NoSession : @App.SessionNo&nbsp;démarrée le : @App.UserSession.StartDate-->
<script>
function confirmDelete(aForm){
	if (confirm("Etes-vous certains de vouloir supprimer ce client ?")){
		aForm.dispatchEvent(new Event("submit", { cancelable: true, bubbles: true }));
	}
}
</script>

<div class="container">

	<Table  class="table">
		<thead class="table-light">
		<tr>
		  <th scope="col"></th>
		  <th scope="col"></th>
		  <th scope="col"></th>
		  <th scope="col">ID</th>
		  <th scope="col">Nom</th>
		  <th scope="col">Ville</th>
		  <th scope="col">Pays</th>
		  <th scope="col">Type</th>
		</tr>
		</thead>
		<tbody id="TableCustomers" hx-target="closest tr" hx-swap="outerHTML">
		@foreach CustomerList {
		    @import Templates/CustomerLine {@Customer = @loop}
		}
		</tbody>
	</table>
	
	<button type="button" id="btnAddCustomer" class="btn btn-primary" hx-get="/AddCustomer?Session=@App.SessionNo" hx-target="#TableCustomers" hx-swap="beforeend">Add customer</button>
</div>