<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@App.Title</title>
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="./css/Styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
        </div>
        <ul class="sidebar-menu">
            <li><a href="http://localhost:8080/?Session=@App.UserSession.IdSession"><i>&#128711;</i> Accueil</a></li>
            <li><a href="http://localhost:8080/ListeCustomers?Session=@App.UserSession.IdSession"><i>&#128196;</i> Liste des clients</a></li>
            <!--<li><a href="#"><i>&#128221;</i> Profil</a></li>
            <li><a href="#"><i>&#9993;</i> Messages</a></li>
            <li><a href="#"><i>&#9881;</i> Paramètres</a></li>-->
        </ul>
    </div>
    <div class="main-content">
        @RenderBody
    </div>
	
	<script src="/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	
	<script src="/js/scripts.js"></script>

</body>
</html>
