@LayoutPage Templates/IndexTemplate.html

<h1>Liste utilisateurs</h1>
<br/>
NoSession : @App.SessionNo&nbsp;démarrée le : @App.StartDate
<script>
function confirmDelete(aForm){
	if (confirm("Etes-vous certains de vouloir supprimer cet utilisateur ?")){
		aForm.dispatchEvent(new Event("submit", { cancelable: true, bubbles: true }));
	}
}
</script>

<div class="container">
    
	<Table class="table">
		<thead class="table-light">
		<tr>
		  <th scope="col"></th>
		  <th scope="col">ID</th>
		  <th scope="col">Prénom</th>
		  <th scope="col">Nom</th>
		</tr>
		</thead>
		<tbody hx-confirm="Etes-vous certains de vouloir supprimer cet utilisateur ?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
		@foreach UserList {
			<tr id="Row@loop.ID_USER">
			  <td>
					<a href="#" hx-delete="/DeleteUser?Session=@App.SessionNo&id=@loop.ID_USER">
						<span class="material-icons">
						delete
						</span>
					</a>
			  </td>
			  <td>@loop.ID_USER</td>
			  <td id="col1@loop.ID_USER">
				<form id="FormCol1@loop.ID_USER" hx-post="/EditMode?Session=@App.SessionNo&id=@loop.ID_USER&col=1" hx-target="#col1@loop.ID_USER">
				@loop.PRENOM
				<a href="#" onclick='document.getElementById("FormCol1@loop.ID_USER").dispatchEvent(new Event("submit", { cancelable: true, bubbles: true }));'>
					<span class="material-icons">
						mode
					</span>
				</a>
				</form>
			  </td>
			  <td  id="col2@loop.ID_USER">
				<form id="FormCol2@loop.ID_USER" hx-post="/EditMode?Session=@App.SessionNo&id=@loop.ID_USER&col=2" hx-target="#col2@loop.ID_USER">
				@loop.NOM
				<a href="#" onclick='document.getElementById("FormCol2@loop.ID_USER").dispatchEvent(new Event("submit", { cancelable: true, bubbles: true }));'>
					<span class="material-icons">
						mode
					</span>
				</a>
				</form>
			  </td>
			</tr>
		}
		</tbody>
	</table>
</div>